@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    min-height: fit-content;
    padding-bottom: 10px;
    font-family: "Orbitron", sans-serif;

}